/#archain_notes.txt#
HYgradu-master/
ad.pdf
archain/
archain_notes.txt
archain_notes.txt~
archain_old/
bibliography.bib~
chain.zip
data/
gradu.aux
gradu.bbl
gradu.blg
gradu.log
gradu.out
gradu.synctex.gz
gradu.toc
gradu_git/
helsinkiextragalacticgroup-ketjugw-64dae1326e49.zip
ketju-integrator/
ketju/
ketju_snapshots/Figure_1-1.png
ketju_snapshots/Figure_1-2.png
ketju_snapshots/IFU/analyse_atlas_data.py~
ketju_snapshots/IFU/analyse_voronoibins.py~
ketju_snapshots/__pycache__/
ketju_snapshots/IFU/Cappellari2011a_Atlas3D_Paper1_UnBinned_Cubes_v1.0/
ketju_snapshots/IFU/MS_NGC3414_r6_C2D.fits
ketju_snapshots/IFU/MS_NGC3522_r4_C2D.fits
ketju_snapshots/IFU/MS_NGC4111_r1_C2D.fits
ketju_snapshots/IFU/MS_NGC4472_r8_C2D.fits
ketju_snapshots/IFU/PXF_bin_MS_NGC3414_r6_idl.fits
ketju_snapshots/IFU/PXF_bin_MS_NGC3522_r4_idl.fits
ketju_snapshots/IFU/PXF_bin_MS_NGC4111_r1_idl.fits
ketju_snapshots/IFU/PXF_bin_MS_NGC4472_r8_idl.fits
ketju_snapshots/IFU/analyse_voronoibins.py
ketju_snapshots/IFU/atlas3d_stellar_kinematics/
ketju_snapshots/IFU/derived.cfg
ketju_snapshots/IFU/derived.cfg~
ketju_snapshots/IFU/dummy.png
ketju_snapshots/IFU/dummy_0.png
ketju_snapshots/IFU/dummy_1.png
ketju_snapshots/IFU/dummy_2.png
ketju_snapshots/IFU/dummy_3.png
ketju_snapshots/IFU/dummy_4.png
ketju_snapshots/IFU/dummy_5.png
ketju_snapshots/IFU/dummy_6.png
ketju_snapshots/IFU/ellipticity.py~
ketju_snapshots/IFU/gadget.cfg
ketju_snapshots/IFU/gadget.cfg~
ketju_snapshots/IFU/grid_txt-nspaxels_2000.txt
ketju_snapshots/IFU/lambda_epsilon.txt~
ketju_snapshots/IFU/lambda_epsilon_atlas3D.txt
ketju_snapshots/IFU/lambda_epsilon_atlas3D.txt~
ketju_snapshots/IFU/lambda_epsilon_plotter.py
ketju_snapshots/IFU/losstatisticspygad.py
ketju_snapshots/IFU/losstatisticspygad.pyc
ketju_snapshots/IFU/plot_atlas_voronoi.py~
ketju_snapshots/IFU/plot_simulation_voronoi.py~
ketju_snapshots/IFU/test.py~
ketju_snapshots/IFU/txt-nspaxels_2000.txt
ketju_snapshots/IFU/units.cfg
ketju_snapshots/IFU/voronoimapspygad.py
ketju_snapshots/IFU/voronoimapspygad.pyc
ketju_snapshots/IFU/voronoimapspygad.py~
ketju_snapshots/I_all_100Mean.png
ketju_snapshots/I_all_20Mean.png
ketju_snapshots/I_all_noMean.png
ketju_snapshots/I_all_sameAngle.png
ketju_snapshots/Kaikki_10_mean.png
ketju_snapshots/bootstrap_results.txt
ketju_snapshots/core_sersic_profiles.dat~
ketju_snapshots/cusp_radii.dat~
ketju_snapshots/galfit/
ketju_snapshots/gamma-1.5-bh-0.hdf5
ketju_snapshots/gamma-1.5-bh-1.hdf5
ketju_snapshots/gamma-1.5-bh-2.hdf5
ketju_snapshots/gamma-1.5-bh-3.hdf5
ketju_snapshots/gamma-1.5-bh-4.hdf5
ketju_snapshots/gamma-1.5-bh-5.hdf5
ketju_snapshots/gamma-1.5-bh-6.hdf5
ketju_snapshots/h5_test.f90
ketju_snapshots/h5_test.f90~
ketju_snapshots/ketjusnap_plotter.py~
ketju_snapshots/property_table.dat~
ketju_snapshots/pygad/
ketju_snapshots/radii.dat~
ketju_snapshots/sdaskd.png
ketjugw/
omaplotter/plot_todo
ssh_hommat.txt
websites.txt
chapter2_plan.txt~
